<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <p>
        게시글 수정 페이지
    </p>
    <form th:action="${'/posts/modify/'+post.id}" method="post">
        <label for="name">가게명</label>
        <input type="text" id="name" name="name" th:value="${post.storeName}"></input>
        <div th:each="type : ${storetype}">
            <input type="radio" th:field="*{storetype}" th:value="${type.name()}">
            <label th:for="${#ids.prev('type')}" th:text="${type.description}"></label>
        </div>

        <div class="form-group">
            <button type="submit">완료</button>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>