<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>받은 친구 신청</h2>
<br>

<div>
    <ul th:each="msg : ${receivedMessages}">
        <li>
            <h3 th:text="${msg.sender}" />
            <form action="/friendAccept" method="post">
                <input type="hidden" name="messageId" th:value="${msg.id}"/>
                <button type = "submit">수락</button>
            </form>
            <form action="/friendReject" method="post">
                <input type="hidden" name="messageId" th:value="${msg.id}"/>
                <button type = "submit">거절</button>
            </form>
        </li>

    </ul>
</div>


</body>
</html>