<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <p>
        게시글 수정 페이지
    </p>
    <form id="form1" th:action="${'/edit/'+post.id}" method="post">
        <label for="name">가게명</label>
        <input type="hidden" name="postId" form="form1">
        <input type="text" id="name" name="storeName" th:value="${post.storeName}" form="form1">
        <div th:each="type : ${storeTypes}">
            <input type="radio" id="storeType" name="storeType" th:value="${type.name()}"
            th:checked="${post.storeType==type}" form="form1">
            <label for="storeType" th:text="${type.description}"></label>
        </div>
    </form>

    <h3 th:text="${deniedMessage} "></h3>
    <ul th:each="tip,i : ${post.tips}" style="-webkit-padding-start:0px;">
        <h3 th:text="${tip.id}"></h3>
        <form th:id="'form'+${i}" th:action="${'/deleteTip/'+tip.id}" method="post">
            <li th:text="|• ${tip.comment}|" style="display:inline"/>

        &nbsp
            <input type="hidden" name="postId" th:value="${post.id}"/>
            <button type="submit" th:form="'form'+${i}">XXX</button>
        </form>
    </ul>
        <button type="submit" form="form1">완료</button>
</div>
</body>
</html>