<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

  <meta charset="UTF-8">
  <title>타이틀틀</title>
  <style>
    ul li {list-style-type: none; float:left; margin-left:20px;}

</style>

</head>
<body>
<div style="margin-top:50px;margin-bottom:100px">
  <h1 align="center">The Private Map</h1>
</div>

<!-- 검색 창 넣기-->

<div style="margin-bottom:100px">
  <ul>
    <li>     <button class="typeButton" style="background:#FF9900;">카페</button>    </li>
    <li>     <button class="typeButton" style="background:#FF6600;">식당</button>    </li>
    <li>     <button class="typeButton" style="background:#66FFCC;">술집</button>    </li>
    <li>     <button class="typeButton" style="background:#006699;">기타</button>    </li>
  </ul>

  <div style="margin-right:100px" align="right">
    <button style="background:#009900; font-size:1.2em; color: #fff; border:none;">추가</button>
    <input type="text" style="font-size:18px" placeholder="검색">
    <button style="background:#666666; font-size:1.2em; color: #fff; border:none;">검색</button>
  </div>

</div>

<div >
  <ul>
    <li><div class="card card-body">
      <span class="side-stick"></span>
      <h2 >McDonald'ssssss</h2>
      <div>
        <h3>식당
          <div align="right">
            <button style="background:#666666; font-size:1em; color: #fff; border:none;">수정</button>
          </div>
        </h3>

      </div>
      <div style="padding:0px">
        <ul>
          <li>Good for study!</li>
          <li>Good for study222!</li>
          <li>Good for study3333!</li>
        </ul>
      </div>

    </div></li>


    <li><div class="card card-body">
      <span class="side-stick"></span>
      <h2 >McDonald'ssssss</h2>
      <div>
        <h3>식당
          <div align="right">
            <button style="background:#666666; font-size:1em; color: #fff; border:none;">수정</button>
          </div>
        </h3>

      </div>
      <div>
        <p>Good for study!</p>
      </div>

    </div></li>
    <li><div class="card card-body">
      <span class="side-stick"></span>
      <h2 >McDonald'ssssss</h2>
      <div>
        <h3>식당
          <div align="right">
            <button style="background:#666666; font-size:1em; color: #fff; border:none;">수정</button>
          </div>
        </h3>

      </div>
      <div>
        <p>Good for study!</p>
      </div>

    </div></li>
    <li><div class="card card-body">
      <span class="side-stick"></span>
      <h2 >McDonald'ssssss</h2>
      <div>
        <h3>식당
          <div align="right">
            <button style="background:#666666; font-size:1em; color: #fff; border:none;">수정</button>
          </div>
        </h3>

      </div>
      <div>
        <p>Good for study!</p>
      </div>

    </div></li>
    <li><div class="card card-body">
      <span class="side-stick"></span>
      <h2 >McDonald'ssssss</h2>
      <div>
        <h3>식당
          <div align="right">
            <button style="background:#666666; font-size:1em; color: #fff; border:none;">수정</button>
          </div>
        </h3>

      </div>
      <div>
        <p>Good for study!</p>
      </div>

    </div></li>
    <li><div class="card card-body">
      <span class="side-stick"></span>
      <h2 >McDonald'ssssss</h2>
      <div>
        <h3>식당
          <div align="right">
            <button style="background:#666666; font-size:1em; color: #fff; border:none;">수정</button>
          </div>
        </h3>

      </div>
      <div>
        <p>Good for study!</p>
      </div>

    </div></li>
  </ul>

</div>

</body>
</html>