<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/hbDesign.css">
    <title>타이틀틀</title>
</head>
<body>

<img src="img/tipmi.png" class="tipmi" alt="TipMI">

<h3 th:text="${loginMessage} "></h3>
<button type="button" class="btn" onclick="location.href='/oauth2/authorization/google' " ><img src="img/google.png" class="img" alt="google"></button>
<button type="button" class="btn" onclick="location.href='/oauth2/authorization/naver' " ><img src="img/naver.png" class="img" alt="naver"></button>
<button type="button" class="btn" onclick="location.href='/oauth2/authorization/kakao' " ><img src="img/kakao.png"class="img" alt="kakao"></button>



</body>
</html>